#page-header {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);

  display: flex;
  justify-content: space-between;

  /* 
    Without align-items, items (e.g. logo or button) would align to 
    their top edges by default -> looks ugly because they are 
    of different heights
  */
  align-items: center;

  padding: 1rem 2rem 1rem 2rem;
}


#page-header-nav {
  flex-grow: 1;


  /* 
      Use of start instead of left for better accessibility for different
      kinds of languages that are not read e. g. from left-to-right
  */
  text-align: end;
}


#page-header-nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;

  /* 
    Without align-items, items (e.g. logo or button) would align to 
    their top edges by default -> looks ugly because they are 
    of different heights
  */
  align-items: center;
}




/* 
  ========================================================================
  ============================= Header Logo ==============================
  ======================================================================== 
*/
#header-logo {
  font-family: "Whisper", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  white-space: nowrap;
  color: var(--md-sys-color-on-primary-container);
  text-decoration: none;
}