/* 
  ========================================================================
  ============================= Hero Section =============================
  ======================================================================== 
*/
#homepage-hero-section {
    display: flex;
    flex-flow: row wrap;
    padding: 60px 0px 80px 0px;

    margin-left: 10%;
    margin-right: 10%;
}

#homepage-hero-section>* {
    flex: 1;
}



#homepage-hero-section-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
    text-align: center;
}



#homepage-hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
}

#homepage-hero-section-img img {
    max-width: 100%;
}



/* 
  ========================================================================
  ============================= Teaser Section ===========================
  ======================================================================== 
*/
#teaser-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser-section h4 {
    margin-top: 48px;
}

#teaser-section footer {
    margin-top: 48px;
}