/* 
  ========================================================================
  ========================== Details & Summary 1 =========================
  ======================================================================== 
*/
.details1 {
  background-color: var(--md-sys-color-on-secondary-container);
  color: var(--md-sys-color-secondary-container);
  /* 
      Use of start instead of left for better accessibility for different
      kinds of languages that are not read e. g. from left-to-right
    */
  text-align: start;

  border-radius: 8px;
  padding: 12px 42px 12px 42px;
  margin: 16px 0px 16px 0px;
}

.details1 summary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  border-radius: 8px;
  font-size: 2rem;
  cursor: pointer;
  padding: 16px;
}

.details1 summary:hover,
.details1 summary:focus {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.details1 a,
.details1-sub-details a {
  color: var(--md-sys-color-custom-color-1-container);
}

.details1 a,
.details1-sub-details a {
  color: var(--md-sys-color-custom-color-1-container);
}

.details1 ul,
.details1 ol,
.details1-sub-details ul,
.details1-sub-details ol {
  font-size: 1.3rem;
  line-height: 1.5;

  /* 
    Set max width for better UI readability.
    Wide Paragraphs are difficult to read.
  */
  max-width: 50rem;
}



.details1-sub-details {
  padding-left: 48px;
  margin: 48px 0px 48px 0px;
}