/* 
  ========================================================================
  ============================= Hero Section =============================
  ======================================================================== 
*/
#contact-hero-section {
    display: flex;
    flex-flow: row wrap;
}

#contact-hero-section>* {
    flex: 1;
}

#contact-hero-section-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
    text-align: center;
}