/* 
  ========================================================================
  =============================== Root ===================================
  ======================================================================== 
*/
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;

  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);


  /* To let footer stick to the bottom */
  min-height: 100vh;
  min-width: 100vw;


  /* Basic Reset for Consistency */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  margin-left: 10vw;
  margin-right: 10vw;
}

/* NOTE: Use REM-Unit for remaining font size changes */



/* 
  ========================================================================
  =============================== Headings================================
  ======================================================================== 
*/
h3 {
  font-size: 3.5rem;
  margin: 12px 0px 12px 0px;
  line-height: 1.1;
  letter-spacing: -0.10rem;
}



/* 
  ========================================================================
  =============================== Paragraph ==============================
  ======================================================================== 
*/
p {
  font-size: 1.3rem;
  margin: 12px 0px 12px 0px;
  line-height: 1.5;
}




/* 
  ========================================================================
  =============================== Animations =============================
  ======================================================================== 
*/
@keyframes wobble {

  0%,
  20%,
  80%,
  100% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(15deg);
  }
}

.wobble {
  /* So it is able to animate e. g. a span-Tag. */
  display: inline-block;


  animation: wobble 3.2s ease infinite;
  transform-origin: right bottom;
}



/* 
  ========================================================================
  ========================== Accessibility ===============================
  ======================================================================== 
*/
/*
  Class for hiding e.g. headings as they should not be visible in layout.
  But they should exist for accessibility reasons (Screen Readers)
*/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}