.button {
    margin: 36px;
}

.button a {
    background-color: var(--md-sys-color-on-tertiary-container);
    color: var(--md-sys-color-tertiary-container);
    font-size: 2.5rem;
    text-decoration: none;
    padding: 12px 28px 12px 28px;
    border-radius: 8px;
    white-space: nowrap;
}

.button a:hover,
.button a:focus {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
    border: 1px solid var(--md-sys-color-on-tertiary-container);
    border-radius: 8px;
}