.btn-highlighted,
.btn-underemphasized {
    margin: 36px;
}

.btn-highlighted a,
.btn-highlighted a:hover,
.btn-highlighted a:focus,
.btn-underemphasized a,
.btn-underemphasized a:hover,
.btn-underemphasized a:focus {
    font-size: 2.5rem;
    text-decoration: none;
    padding: 12px 42px 12px 42px;
    border-radius: 8px;
    white-space: nowrap;
}



/* 
  ========================================================================
  =========================== Highlighted Button =========================
  ======================================================================== 
*/
.btn-highlighted a {
    background-color: var(--md-sys-color-on-tertiary-container);
    color: var(--md-sys-color-tertiary-container);
}

.btn-highlighted a:hover,
.btn-highlighted a:focus {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
    border: 1px solid var(--md-sys-color-on-tertiary-container);

}



/* 
  ========================================================================
  ======================= Underemphasized Button =========================
  ======================================================================== 
*/
.btn-underemphasized a {
    background-color: transparent;
    color: var(--md-sys-color-on-tertiary-container);
    border: 1px solid var(--md-sys-color-on-tertiary-container);
}

.btn-underemphasized a:hover,
.btn-underemphasized a:focus {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}



/* 
  ========================================================================
  ============================= Nav-Button ===============================
  ======================================================================== 
*/
.btn-nav-small a {
    font-size: 0.9rem;
}

.btn-nav-normal a {
    font-size: 1.2rem;
}

.btn-nav a {
    color: var(--md-sys-color-on-primary-container);
    text-decoration: none;
    margin: 3px;
    padding: 18px;
    border-radius: 8px;
    white-space: nowrap;
}

.btn-nav a:hover,
.btn-nav a:focus {
    background-color: var(--md-sys-color-on-primary-container);
    color: var(--md-sys-color-primary-container);
}