/* 
  ========================================================================
  ============================= Hero Section =============================
  ======================================================================== 
*/
#homepage-hero-section {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

#homepage-hero-section-text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

#homepage-hero-section-text h3 {
  font-size: 2.5rem;
}

#homepage-hero-section-text p {
  font-size: 1.2rem;
}