/* 
  ========================================================================
  ============================= Hero Section =============================
  ======================================================================== 
*/
#homepage-hero-section {
    display: flex;
    flex-flow: row wrap;
    padding: 60px 0px 80px 0px;

    margin-left: 10%;
    margin-right: 10%;
}

#homepage-hero-section>* {
    flex: 1;
}



#homepage-hero-section-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
    text-align: center;
}



#homepage-hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
}

#homepage-hero-section-img img {
    max-width: 800px;
}


/* 
  ========================================================================
  ========================== Details & Summary ===========================
  ======================================================================== 
*/
/* TODO: Add the end, put code in components for reusability */
.details1 {
    /* 
      Use of start instead of left for better accessibility for different
      kinds of languages that are not read e. g. from left-to-right
    */
    text-align: start;
}

.details1 summary {
    font-size: 2rem;
}



/* 
  ========================================================================
  ========================== Contact Section =============================
  ======================================================================== 
*/
#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}