/* 
  ========================================================================
  ============================= Hero Section =============================
  ======================================================================== 
*/
#homepage-hero-section {
    display: flex;
    flex-flow: row wrap;
    padding: 60px 0px 80px 0px;

    margin-left: 10%;
    margin-right: 10%;
}

#homepage-hero-section>* {
    flex: 1;
}



#homepage-hero-section-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
    text-align: center;
}



#homepage-hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px 0px 0px 0px;
}

#homepage-hero-section-img img {
    max-width: 800px;
}



/* 
  ========================================================================
  ========================== Details & Summary ===========================
  ======================================================================== 
*/
/* TODO: Add the end, put code in components for reusability */
.details1 {
    background-color: var(--md-sys-color-on-secondary-container);
    color: var(--md-sys-color-secondary-container);
    /* 
      Use of start instead of left for better accessibility for different
      kinds of languages that are not read e. g. from left-to-right
    */
    text-align: start;

    border-radius: 8px;
    padding: 12px 42px 12px 42px;
    margin: 16px 0px 16px 0px;
}

.details1 summary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer;
    padding: 16px;
}

.details1 summary:hover,
.details1 summary:focus,
.details1[open] summary {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}


.details1-sub-details {
    padding-left: 48px;
    margin: 16px 0px 16px 0px;
}


/* 
  ========================================================================
  ========================== Contact Section =============================
  ======================================================================== 
*/
#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}