/* 
  ========================================================================
  ======================= Table of Contents: Page ========================
  ======================================================================== 
*/
#toc-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#toc-page ul {
    list-style: none;
    padding-left: 0px;
}

#toc-page a {
    text-decoration: none;
}

#toc-page>ul>li {
    margin-bottom: 48px;
}




/* 
  ========================================================================
  ================= Containers / Buttons for ToC-Headings ================
  ======================================================================== 
*/
.btn-toc-heading,
.btn-toc-heading:hover,
.btn-toc-heading:focus,
.btn-toc-subheading,
.btn-toc-subheading:hover,
.btn-toc-subheading:focus {
    text-decoration: none;
    white-space: nowrap;
    border-radius: 8px;
    margin: 18px;
}

.btn-toc-heading:hover,
.btn-toc-heading:focus,
.btn-toc-subheading:hover,
.btn-toc-subheading:focus {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-primary-container);
    border: 1px solid var(--md-sys-color-primary-container);
}



/* 
  ========================================================================
  =========================== ToC-Heading Button =========================
  ======================================================================== 
*/
/* TODO: Fix missing style for a-Tag */
.btn-toc-heading,
.btn-toc-heading:hover,
.btn-toc-heading:focus {
    font-size: 2rem;
    padding: 12px 42px 12px 42px;
}

.btn-toc-heading {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-primary);
}



/* 
  ========================================================================
  ======================== ToC-Subheading Button =========================
  ======================================================================== 
*/
.btn-toc-subheading,
.btn-toc-subheading:hover,
.btn-toc-subheading:focus {
    font-size: 1.3rem;
    padding: 12px 42px 12px 42px;
}

.btn-toc-subheading {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-secondary-container);
}