<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Breakout Game</title>

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/components/breakout-game/breakout-game.css">
    <link rel="stylesheet" href="/components/button/button.css">
    <link rel="stylesheet" href="/components/theme-switch/theme-light-high-contrast.css">
</head>

<body>
    <canvas id="breakout-canvas" width="480px" height="320px"></canvas>
    <button type="button" class="btn-highlighted-button-tag">Start Game</button>

    <script src="/components/breakout-game/breakout-game.js"></script>
</body>

</html>