#page-footer {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    padding: 15px 20px 15px 20px;
    margin-top: 40px;


    /* To let footer stick to bottom */
    position: sticky;
    top: 100%;


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#page-footer-left {
    flex: 1;
}

#page-footer-middle {
    flex: 1;
    text-align: center;
}

#page-footer-right {
    flex: 1;

    /* 
      Use of start instead of left for better accessibility for different
      kinds of languages that are not read e. g. from left-to-right
    */
    text-align: end;
}



/* 
  ========================================================================
  ================================ Text ==================================
  ======================================================================== 
*/
#page-footer p {
    font-size: 0.9rem;
    margin: 12px 0px 12px 0px;
}